[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"psycopg2" = "*"
dj-database-url = "*"
gunicorn = "*"
whitenoise = "*"
Django = "==2.1"
djangorestframework = "==3.8.2"
django-cors-headers = "==2.4.0"
django-rest-auth = "==0.9.3"
django-allauth = "==0.37.1"
django-rest-swagger = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.7"
