{% extends "base.html" %}

{% block titleblock %}
    {{ todo_list.name }}
{% endblock titleblock %}

{% block headerblock %}
    
{% endblock headerblock %}

{% block bodyblock %}
<h1>{{ todo_list.name }}</h1>

<div>

    {% if todo_list.todo_items.all %}
        <ul class="todo-list">
        {% for item in todo_list.todo_items.all %}
            {% if not item.complete_item %} 
                
                <li>
                    <a href="{% url 'todo_item_complete_list' item.pk %}"><input type="checkbox"></a>
                    <a href="{% url 'todo_item_detail' item.pk %}">{{ item.item_name }}</a>
                </li>
            {% endif %}
        {% endfor %}
        </ul>     
    {% endif %}
</div>

<div>
    <a class="btn btn-dark" href="{% url 'todo_item_new' %}">Add ToDo Item</a>
    <a class="btn btn-dark" href="{% url 'todo_list_update' todo_list.pk %}">Update List</a>
    <a class="btn btn-danger" href="{% url 'todo_list_delete' todo_list.pk %}">Delete List</a>
</div>
{% endblock bodyblock %}

