{% extends "base.html" %}

{% block titleblock %}
  Todo Lists
{% endblock titleblock %}

{% block headerblock %}
  
{% endblock headerblock %}

{% block bodyblock %}
<h1>ToDo Lists</h1>
  
  {% if todo_list %}
    
    {% for list in todo_list %}
        <h3><a href="{% url 'todo_list_detail' list.pk %}">{{ list.name }}</a></h3>
        <ul>
                
            {% for item in list.todo_items.all %}
                {% if not item.complete_item %}
                  <li>{{ item }}</li>  
                {% endif %}                
            {% endfor %}
        </ul>
    {% endfor %}
  {% else %}
    <h2>No ToDo Lists</h2>
  {% endif %}
      
      
{% endblock bodyblock %}
