{% extends "base.html" %}

{% block titleblock %}
    {{ todo_list.name }}
{% endblock titleblock %}

{% block headerblock %}
    
{% endblock headerblock %}

{% block bodyblock %}
<h1>{{ todo_list.name }}</h1>

<div>

    {% if todo_list.todo_items.all %}
        <ul>
        {% for item in todo_list.todo_items.all %}
            <li>{{ item.item_name }}</li>
        {% endfor %}
        </ul>     
    {% endif %}
</div>

<div>
    <a class="btn btn-dark" href="{% url 'todo_item_new' %}">Add ToDo Item</a>
    <a class="btn btn-dark" href="{% url 'todo_list_update' todo_list.pk %}">Update List</a>
    <a class="btn btn-danger" href="{% url 'todo_list_delete' todo_list.pk %}">Delete List</a>
</div>
{% endblock bodyblock %}

