{% extends "base.html" %}

{% block titleblock %}
  {{ post_detail.title }}
{% endblock titleblock %}

{% block headerblock %}
    <h1>{{ post_detail.title }}</h1>
{% endblock headerblock %}

{% block bodyblock %}
  
    <div>
        <p>{{ post_detail.author }} &middot; {{ post_detail.date }}</p>
        <p>{{ post_detail.body_text|linebreaks }}</p>
        <br>
    </div>
    
    <div>
        <a href="{% url 'post_update' post_detail.pk %}"> + Update</a>
        <a href="{% url 'post_delete' post_detail.pk %}"> + Delete</a>
    </div>
  
{% endblock bodyblock %}